<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title><%block name="title">WKApp</%block></title>
		<link rel="stylesheet" href="/static/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/wkapp.css" />
		<!-- Add custom styles / stylesheets below here -->
		<link rel="stylesheet" href="/app.css" />
		<script type="text/javascript" src="/static/jquery.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="/static/wkapp.js"></script>
		<!-- Add custom scripts below here -->
		<script type="text/javascript" src="/app.js"></script>
	</head>
	<body>
		<section id="app" class="container">
			${next.body()}
		</section>
	</body>
</html>
